<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <h1>A Câmara dos Deputados foi criada pela primeira Constituição brasileira, em 1824. Imposta pelo imperador d. Pedro 1º,
        a Constituição do Império instituiu a Assembleia Geral Legislativa, composta pela Câmara dos Deputados, com 102 integrantes escolhidos em eleições indiretas,
        e pela Câmara dos Senadores, com 50 integrantes de mandato vitalício – membros da nobreza, da magistratura e do clero. Assim,
        o Parlamento brasileiro já nasceu com o sistema bicameral que vigora até hoje.

        A sessão de abertura da primeira legislatura da Assembleia Geral Legislativa ocorreu em 6 de maio de 1826,
        quando enfim os deputados e senadores puderam participar do processo legislativo brasileiro,
        três anos e meio após a proclamação da Independência do Brasil.</h1>

</body>
</html>